<!DOCTYPE html>
<html>
<head>
    <title>填写评估信息
    </title>
    <link rel="stylesheet" type="text/css" href="/static/css/editEva2.css">
    <!--	<link rel="stylesheet" type="text/css" href="css/editEva2.css">-->
    <script>
        var Index ={{ Index|safe }}
        var assess ={{ Assess|safe }}
        var thismethods ={{ Method|safe }}
    </script>
</head>

<body>
<div id="app">
    <div id="naviProcess">
        <h4>人机交互评估平台</h4>
        <div id="Process">
            <ul>
                <li>定义指标和方法————</li>
                <li class="now">————编辑方案————</li>
                <li>————建立方案完成</li>
            </ul>
        </div>

    </div>
    <div id="Details" v-cloak>
        <div id="InputForm">
            <div id="saveNavi">
                <h3>方案介绍及执行策略</h3>
                <button id="save" @click='postInfomation()'>保存</button>
            </div>
            <br>
            <span>方案名称：  {% verbatim %}{{ Assess.AssessName }}{% endverbatim %}</span><br>
            <span>评估描述：  <input type="text" name="EvaDetail" id="EvaDetail" v-model="Description"></span><br>
            <span>评估对象：  <input type="text" name="EvaObject" id="EvaObject" v-model="Object"></span><br>
        </div>

        <div id="showInform">
            <label>评估指标：
                <span v-for="item in myIndex">
				{% verbatim %}{{ item.name }}{% endverbatim %}
				(
				<span v-for="first in item.FirstList" v-if="first.selected!=''">
					{% verbatim %}{{ first.listTitle }}{% endverbatim %}
				</span>
				)
					
			</span>
            </label><br>
            <label>人员安排：
                <span v-for="p in people">
				{% verbatim %}{{ p }}{% endverbatim %}
			</span>
            </label><br>
            <label>评估模块： </label>
            <table id="EvaTable">
                <tr>
                    <th>评估方法</th>
                    <th>评估对象</th>
                    <th>指标</th>
                    <th>收集数据</th>
                    <th>数据处理</th>
                </tr>
                <tr v-for="thisIndex in IndexBox">
                    <td>{% verbatim %}{{ thisIndex.EvaMethod }}{% endverbatim %}</td>
                    <td>{% verbatim %}{{ thisIndex.EvaObject }}{% endverbatim %}</td>
                    <td>{% verbatim %}{{ thisIndex.indexName }}{% endverbatim %}</td>
                    <td>{% verbatim %}{{ thisIndex.dataSource }}{% endverbatim %}</td>
                    <td>{% verbatim %}{{ thisIndex.dataDeal }}{% endverbatim %}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript" src="/static/js/vue.js"></script>

<script type="text/javascript" src="/static/js/editEva2.js"></script>


</html>