<!DOCTYPE html>
<html>
<head>
    <title>选择指标</title>
    <script>
        var Assess ={{ Assess|safe }}
        var Alldatas ={{ IndexInfo|safe }}
        var ModelId ={{ ModelId|safe }}
    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/edit1.css">
</head>
<body>

<div id="naviProcess">
    <h4>人机交互评估平台</h4>
    <div id="Process">
        <ul>
            <li class="now">定义指标和方法————</li>
            <li>————编辑方案————</li>
            <li>————建立方案完成</li>
        </ul>
    </div>
    <!--<button @click='postIndexs()'>下一步</button>-->

</div>
<div id="app" v-cloak>
    <div id="chooseIndex">
        <h3>选择指标</h3>

        <div id="SoftWareHCI">
            <div id="" v-for="data in datas">

                <input type="checkbox" :id="data.name" :checked="isAllChecked(data)" value=""
                       @change="changeAllChecked($event,data)"/> {% verbatim %} {{ data.name }}{% endverbatim %}

                <div id="" v-for="first in data.FirstList" class="father">
                    <!--遍历父的-->
                    <input type="checkbox" :id="first.listTitle" value="" :checked="isTitleChecked(first)"
                           @change="changeTitleChecked(first,$event)"


                    />{% verbatim %}{{first.listTitle}}{% endverbatim %}

                    <div class="er" v-for="item in first.SecondList">
                        <!--遍历子的-->
                        <input
                                type="checkbox"
                                :value="item"
                                v-model="first.selected"
                                v-model="mySelected"
                        />
                        {% verbatim %}{{item.listTitle}}{% endverbatim %}
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div id="resultArea">
        <button @click="postIndexs()" id="okIndex">确认指标</button>

        <div id="choosedList">

            <ul v-for="vvv in datas">
                <ul v-for=" uuu in vvv.FirstList">


                    <li v-for="iii in uuu.selected">
                        <span class="choosedIndex" style="width: 120px; text-align: right;display: inline-block;">{% verbatim %}{{ iii.listTitle }}{% endverbatim %}</span>
                        ————
                        <span class="choosedMethod" style="width: 80px; text-align: left;display: inline-block;">{% verbatim %}{{ iii.method }}{% endverbatim %}</span>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>


</div>

</body>


<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/edit1.js"></script>
</html>