<!DOCTYPE html>
<html>
<head>
	<title>信息填写界面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/FillInfo.css">
</head>
<body>

<div id="title">
		<div id="logo">
		<!--<img id="titlePic" src="css\img\titleLog.png">-->
			<h4 id="titleText">人机交互评估平台</h4>
		</div>
		<div id="chooseUse">
			<div id="ManageEva">
				<a href="{% url 'chooseEva' %}">评估管理</a>
			</div>
			<div id="ManageModel">
			    <a href="{% url 'manageModel' %}">模板管理</a>
			</div>
			<div id="IndexAndMethod">
				<a href="{% url 'indexandmethod' %}">指标库与方法库</a>
			</div>
		</div>

        <div id="buttons">
			<!--<div id="message">消息</div>
			<div id="set">设置</div>-->
            <div id="mine" ><a href="{% url 'logout' %}">退出账户</a></div>
		</div>
		<!--<div id="out">	
			<a href="#" >Log Out</a>
		</div>-->
	</div>

	<div id="listApp" v-cloak>
			<div id="myList">
				<li v-for="item in list" :class="item==active?'active':'unactive'">
				{% verbatim %}{{ item }}{% endverbatim %}
				</li>
			</div>
		</div>

<div id="InfoDiv" v-cloak>
	<div id="Information">

		
		<div class="inputInfo" v-for="info in InfoList">

			<span class="name">{% verbatim %}{{ info.name }}{% endverbatim %}</span>
			<input type="text" v-model="info.value">
			<span class="unit">{% verbatim %}{{ info.unit }}{% endverbatim %}</span>
		</div>

	</div>
</div>


</body>

<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/FillInfo.js"></script>



</html>