<!DOCTYPE html>
<html>
<head>
	<title>
		模板管理
	</title>
    <link rel="stylesheet" type="text/css" href="/static/css/manageModel.css">
	<!--<link rel="stylesheet" type="text/css" href="css/newEva.css">-->
    <script>
        var AllModel={{ AllModel|safe }}
    </script>
</head>
<body>
	<div id="title">
		<div id="logo">
			<!--<img id="titlePic" src="css\img\titleLog.png">-->
			<h4 id="titleText">人机交互评估平台</h4>
		</div>
		<div id="chooseUse">
			<div id="ManageEva">
				<a href="{% url 'chooseEva' %}">评估管理</a>
			</div>
			<div id="ManageModel">
			    <a href="{% url 'manageModel' %}">模板管理</a>
			</div>
			<div id="IndexAndMethod">
				<a href="{% url 'indexandmethod' %}">指标库与方法库</a>
			</div>
		</div>

        <div id="buttons">
			<!--<div id="message">消息</div>
			<div id="set">设置</div>-->
            <div id="mine" ><a href="{% url 'logout' %}">退出账户</a></div>
		</div>
		<!--<div id="out">	
			<a href="#" >Log Out</a>
		</div>-->
	</div>

	<div id="app" v-cloak>
		<div id="navi">
			<div id="chooseCondition">
				<input type="buttons" name="All" value="全部" readonly="readonly" @click="changeAll()">
				<input type="buttons" name="List" value="表单模板" readonly="readonly" @click="changeList()">
				<input type="buttons" name="History" value="历史模板" readonly="readonly" @click="changeHistory()">
				<input type="buttons" name="Colligation" value="综合模板" readonly="readonly" @click="changeColl()">
			</div>


			<div id="back">
				<input type="buttons" name="back" value="返回" readonly="readonly">
			</div>

		</div>

		<div id="AllEvaluation">

			
			
			<div id="AllModelEvaluation" class="AllModelEvaluation">
				<h2 class="ChoosedTitle">全部模板</h2>
				<div class="thisModels">
				<div class="AllModelEva" v-for="model in Models">
					<div class="AllModelevaPic">
						<p>Task</p>
					</div>
					<div class="AllModelEvaText">
						<p class="AllModelEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
						<p class="AllModelEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
					</div>

					<div class="more" >
						<ul>
							<li  @click="lookModel(model)">查看模板</li>
							<li @click="deleteModel(model)">删除模板</li>
						</ul>
					</div>

				</div>
			</div>
			</div>

		
			
			<div id="ListEvaluation" class="ListEvaluation" style="visibility: hidden;">
				<h2 class="ChoosedTitle">表单模板</h2>
				<div class="thisModels">
				<div class="ListEva" v-for="model in Models" v-if="model.type=='list'">
					<div class="ListevaPic">
						<p>Task</p>
					</div>
					<div class="ListEvaText">
						<p class="ListEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
						<p class="ListEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
					</div>
					<div class="more" >
						<ul>
							<li @click="lookModel(model)">查看模板</li>
							<li @click="deleteModel(model)">删除模板</li>
						</ul>
					</div>

				</div>
			</div>
			</div>

		
			
			<div id="HistoryEvaluation" class="HistoryEvaluation" style="visibility: hidden;">
				<h2 class="ChoosedTitle">历史模板</h2>
				<div class="thisModels">
				<div class="HistoryEva" v-for="model in Models" v-if="model.isHistory=='yes'">
					<div class="HistoryevaPic">
						<p>Task</p>
					</div>
					<div class="HistoryEvaText">
						<p class="HistoryEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
						<p class="HistoryEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
					</div>


					<div class="more" >
						<ul>
							<li  @click="lookModel(model)">查看模板</li>
							<li @click="deleteModel(model)">删除模板</li>
						</ul>
					</div>
				</div>
			</div>
			</div>
			
			<div id="CollEvaluation" class="CollEvaluation" style="visibility: hidden;">
				<h2 class="ChoosedTitle">综合模板</h2>
				<div class="thisModels">
				<div class="CollEva" v-for="model in Models" v-if="model.type=='coll'">
					<div class="CollevaPic">
						<p>Task</p>
					</div>
					<div class="CollEvaText">
						<p class="CollEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
						<p class="CollEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
					</div>

					<div class="more" >
						<ul>
							<li  @click="lookModel(model)">查看模板</li>
							<li @click="deleteModel(model)">删除模板</li>
						</ul>
					</div>

				</div>
			</div>
			</div>

			<br>
<!--			
			<br>
			<h2 id="HistoryTitle">历史模板</h2>
			<div id="HistoryEvaluation" class="HistoryEvaluation">
				
				<div class="HistoryEva" v-for="model in hisModels">
					<div class="HistoryevaPic">
						<p>Task</p>
					</div>
					<div class="HistoryEvaText">
						<p class="HistoryEvaName">{{ model.name }}</p>
						<p class="HistoryEvaOne">{{ model.InShort }}</p>
					</div>


				</div>
			</div>
		-->

<!--
			<br>
			<h2 id="CollTitle">综合模板</h2>
			<br>
			<div id="CollEvaluation" class="CollEvaluation">
				<div class ="CollEva" v-for="model in comModels">
					<div class ="CollevaPic">
						<p>Task</p>
					</div>
				</div>
				<div class ="CollEvaText">
					<p class="CollEvaName">{{ model.name }}</p>
					<p class="CollEvaOne">{{ model.InShort }}</p>
				</div>


			</div>
		-->

	</div>



</div>


</body>
<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript" src="/static/js/manageModel.js"></script>


</html>