<!DOCTYPE html>
<html style="height: 100%">
<head>
	<title>问卷分析</title>
     <script>
        var ResultsData={{ AnswerList|safe }}
    </script>

    <link rel="stylesheet" type="text/css" href="/static/css/result2.css">

</head>

<body style="height: 100%; margin: 0">


	<div id="title">
		<div id="logo">
			<h4 id="titleText">人机交互评估平台</h4>
		</div>
		<div id="chooseUse">
			<div id="ManageEva">
				<a href="{% url 'chooseEva' %}">评估管理</a>
			</div>
			<div id="ManageModel">
			    <a href="{% url 'manageModel' %}">模板管理</a>
			</div>
			<div id="IndexAndMethod">
				<a href="{% url 'indexandmethod' %}">指标库与方法库</a>
			</div>
		</div>

		<div id="buttons">
			<!--<div id="message">消息</div>
			<div id="set">设置</div>-->
            <div id="mine" ><a href="{% url 'logout' %}">退出账户</a></div>
		</div>
	</div>

	<div id="app"    style="overflow-y: scroll; " v-cloak>
		<div class="question" v-for="(que,index) in myresults" style="height: 800px; overflow-x: hidden;" v-cloak>
			<div class="QuestionTitle" v-cloak>
				<p>{% verbatim %}{{ que.Id }}{% endverbatim %}.{% verbatim %}{{ que.title }}{% endverbatim %}</p>
			</div>
			<div class="results" style="height: 50%;" v-cloak>
				<div class="tableResult" v-if="que.queType=='SingleChoose'||que.queType=='MultiChoose'" v-cloak>
					<table class="resultsTable" style="height: 50%" v-cloak>

                        <tr>
							<th>选项</th>
							<th>小计</th>
							<th>比例</th>
						</tr>

						<tr v-if="que.chooseA!=''" v-cloak>
							<td>{% verbatim %}{{ que.chooseA }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.results[0] }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.resultRatio[0] | numFilter}}{% endverbatim %}</td>
						</tr>
						<tr v-if="que.chooseB!=''" v-cloak>
							<td>{% verbatim %}{{ que.chooseB }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.results[1] }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.resultRatio[1] | numFilter}}{% endverbatim %}</td>
						</tr>
						<tr v-if="que.chooseC!=''" v-cloak>
							<td>{% verbatim %}{{ que.chooseC }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.results[2] }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.resultRatio[2] | numFilter}}{% endverbatim %}</td>
						</tr>
						<tr v-if="que.chooseD!=''" v-cloak>
							<td>{% verbatim %}{{ que.chooseD }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.results[3] }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.resultRatio[3] | numFilter}}{% endverbatim %}</td>
						</tr>
						<tr>
							<td>本题有效填写人次</td>
							<td>{% verbatim %}{{ que.filledPeople }}{% endverbatim %}</td>
							<td></td>
						</tr>

					</table>
				</div>
				<div class="tableResult" v-if="que.queType=='Scale'" v-cloak>
                    <p>数字越小代表越{% verbatim %}{{ que.Begin }}{% endverbatim %},数字越大代表越{% verbatim %}{{ que.End }}{% endverbatim %}</p>
					<table class="resultsTable" style="height: 50%" v-cloak>

                        </td></tr>
						<tr>
							<th>选项</th>
							<th>小计</th>
							<th>比例</th>
						</tr>
						<tr v-for="(itemResult,indexResult) in que.ScaleDegree" v-cloak>
							<td>{% verbatim %}{{ itemResult }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.results[indexResult] }}{% endverbatim %}</td>
							<td>{% verbatim %}{{ que.resultRatio[indexResult] | numFilter}}{% endverbatim %}</td>
						</tr>
						<tr>
							<td>本题有效填写人次</td>
							<td>{% verbatim %}{{ que.filledPeople }}{% endverbatim %}</td>
							<td  ></td>
						</tr>

					</table>
				</div>
				<div class="FIBresult" v-if="que.queType=='FillInBlank'" style="height: 50%" v-cloak>
					
					<table class="FIBtable">
                        <thead>
						<tr>
							<th>回答</th>
						</tr>
                        </thead>
                        <tbody>
						<tr v-for="FIB in que.results"> 
							<td >{% verbatim %}{{ FIB }}{% endverbatim %}</td>
						</tr>
                        </tbody>
					</table>
					
					<div class="wordcloud" :id="getWordCloud(index)" style="width: 100%;height: 70% ;width:100%">
						
					</div>
				</div>

				<div class="chooseButtons" v-if="que.queType=='SingleChoose'||que.queType=='MultiChoose'||que.queType=='Scale'" >
					<button class="Bar" @click="chooseBar(index)">条形图</button>
					<button class="Pie" @click="choosePie(index)">饼状图</button>
				</div>
				<br><br>
				<div class="pic" style="position: relative;height: 40%; " v-if="que.queType!='FillInBlank'" v-cloak>
					<div :id="getBar(index)" style="height:100%; left:10%;right:30%;visibility:visible;z-index: 2;position: absolute;top:0px" ></div>
					<div :id="getPie(index)" style="height:100%; left: 10%;
					right: 30%; visibility:hidden;z-index: 1;position: absolute;top:0px" ></div>
				</div>
			</div>
		</div>
	</div>


</body>
    <script type="text/javascript" src="/static/js/echarts.min.js"></script>
	<script type="text/javascript" src="/static/js/echarts-wordcloud.min.js"></script>
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script type="text/javascript" src="/static/js/result2.js"></script>

</html>