
*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 600px;
	/*background-image: url(img/bg.jpg);*/

	font-family: Montserrat,Myriad;
	background-size: cover;
	background-color: rgb(221, 255, 238,0.5);

	color: black;
	padding-top:0; 

	
}


#naviProcess
{
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 2;
	box-shadow:0px 15px 10px -15px #ccc;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 25px;
	background-color: white;
}

#Process li
{
	list-style: none;
	float: left;
	/*margin-left: 30px;*/
}

li.now 
{
	color: blue;
}

#naviProcess button
{
	width: 100px;
	height: 30px;
	background-color: lightblue;
	color: black;
	border:none;
	border:solid 1px lightblue;
}


#myList
{
	background-color: white;
	position: absolute;
	top:100px;
	left: 30px;
	box-shadow: 4px 5px 10px 3px #ccc;
	width: 300px;
	list-style: none;


}


#myList li
{
	width: 300px;
	height: 30px;


}

#myList .unactive:hover
{
	background-color:rgb(51, 153, 255,0.2);
}
#myList .unactive
{
	color: black;
}
#myList .active
{
	background-color:rgb(51, 153, 255);
	color: white;
}

#InfoDiv
{
	position: absolute;
	background-color: white;
	left: 30%;
	width: 60%;
	right: 10%;
	top:100px;		
	min-height: 700px;

}
#saveNow
{
	position: relative;
	left: 75%;
	right: 5%;
	width: 150px;
	top: 20px;
	background-color: rgb(34, 170, 255);
	color: white;
	border-radius: 0.5em;
	border: 1px solid rgb(34, 170, 255);
	

}

#saveNow:hover
{
	background-color: rgb(34, 120, 255);
	color: white;
}

#Information
{
	border:1px solid lightgrey;
	width: 500px;
	height: 200px;
	position: relative;
	padding: 30px;
	top:100px;
	left: 15%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

#Information .name
{
	display: inline-block;
	width: 150px;
	text-align: right;
}
#Information .unit
{
	display: inline-block;
	width: 100px;
	text-align: left;
}

#HeuInfo
{
	position: absolute;
	top:100px;
	width: 80%;
	min-height: 500px;

	left: 15%;
	right: 5%;
	background-color: white;
	padding-left:0%;
}

#HeuInfo button
{
	position:relative;
	width: 200px;
	background-color: white;
	border-radius: 0.5em;
	border: 1px solid rgb(34, 170, 255);
	color: rgb(34, 170, 255);
	left: 15%;

}
#HeuInfo button:hover
{
	background-color: rgb(34, 170, 255,0.1);
}
#tables
{

	width: 500px;
	/*height: 500px;*/
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;



}
.useTable
{
	width: 500px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-collapse:collapse;
}
.useTable input
{
	border: none;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background-color: rgb(34, 170, 255,0);
}

.useTable th
{
	border-top: 1.5px solid rgb(34, 170, 255);
	border-bottom: 1.5px solid rgb(34, 170, 255);
	font-weight: 500;
	background-color:rgb(34, 170, 255,0.7);
	color:white;
}
.useTable td
{
	border-top: 1.5px solid rgb(34, 170, 255);
	border-bottom: 1.5px solid rgb(34, 170, 255);
	background-color: rgb(34, 170, 255,0.1);
}



#QNaire
{
	position: absolute;
	top:0px;
	width: 100%;
	min-height: 500px;

	background-color: white;
	padding-left:0%;
}

#TypeButtons
{	position: absolute;
	width: 60%;
	left:10%;

	display: flex;
	flex-direction: row;
	padding-top: 17px;

}

#TypeButtons Button
{

	background-color: white;
	width: 80px;
	height: 25px;
	background-color: white;
	text-align: center;
	border: 1px solid #0099FF;
	border-radius: 2em;
	color: black;
	margin-left: 5px;
	margin-right: 5px;
}

#TypeButtons Button:hover
{
	background-color: #0099FF;
	color: white;
}

#FunctionButtons
{
	position: absolute;
	width: 20%;
	right: 10px;
	display: flex;
	flex-direction: row;
	padding-top: 17px;
}

#FunctionButtons Button
{
	
	width: 80px;
	height: 25px;
	
	text-align: center;
	border: 1px solid #0099FF;
	border-radius: 0.5em;
	
	margin-left: 5px;
	margin-right: 5px;
}


#preview
{
	background-color: white;
	color: black;

	
}

#ok
{
	background-color: #0099FF;
	color: white;
}

#FunctionButtons Button:hover
{
	background-color: #3366FF;
	color: white;
}

#questions
{
	position: absolute;
	top:70px;
	width: 100%;

	height: auto;
	background-color: white;
	display: flex;
	flex-direction: column;

}

.question
{
	
	padding-top: 15px;
	padding-bottom: 20px;
	position: relative;	
	width:100%;

	line-height: 50px;
	border-bottom: 1px solid lightgrey;
	text-align: center;
	color: #003399;
}

.question:hover
{
	background-color: rgb(221, 255, 238,0.3);
}

.question input
{	border: 1px solid lightgrey;
	border-radius: 0.5em;

}


#littleButtons
{
	position: relative;
	right: 10%;	
	left: 90%;
	width: 100px;
	
}

#delete
{
	position: relative;
	width: 50px;
	right: 10%;
	background-color: white;
	border: 1px solid lightgrey;
}

#delete:hover
{
	color: red;
}

#previewDiv
{
	position: absolute;
	top:100px;
	width: 90%;
	left: 5%;
	right: 5%;
	height: auto;
	background-color: white;
	display: flex;
	flex-direction: column;
	z-index: 10;

}

.previewQuestion
{
	padding-top: 15px;
	padding-bottom: 20px;
	position: relative;	
	width:100%;

	line-height: 50px;
	border-bottom: 1px solid lightgrey;
	text-align: center;
	color: #003399;
	text-align: center;
}
.previewQuestion .previewTitle
{
	font-weight: 900;
}

.previewQuestion .previewTitle span
{
	color: #FFCC66;
}

.scaleContent 
{
	display: flex;
	flex-direction: row;
	position: relative;
	width: 60%;
	left: 20%;
	right: 20%;
	padding-left: 10%;
	padding-right: 10%;



}
.step
{
	width: 50px;
	padding-left: 5px;
	padding-right:5px;

}

#zhezhao
{
	position: absolute;
	width: 100%;
	background-color: black;
	z-index: 3;
	opacity: 0.5;
	height: 100%;

}

#buttonClose
{
	position: relative;
	right: 10%;
	left: 90%;

	
}
#close
{
	width: 100px;
	height: 25px;
	background-color: white;
	border: 1px solid lightgrey;
	border-radius: 0.5em;
}

#close:hover
{
	background-color: #3366FF;
	color: white;
}

#QNairetitle{

	position: relative;
	width: 100%;
	height: 60px;
	background: white;
	color: #708090;
	z-index: 2;
	box-shadow:0px 15px 10px -15px #ccc;
}



#titlePic
{	float: left;
	margin-left: 20px;
	width: 30px;
	height: 30px;
	
}
#titleText
{
	float: right;
	margin-top: 3px;
	font-weight: 600;
	color: #708090;
}
[v-cloak] {
  display:none !important;
}