<!DOCTYPE html>
<html>
<head>
	<title>分析评估</title>

	<script>
        var PlanList={{ PlanList|safe }}
        var infoList={{ infoList|safe }}
        var SumInfoList={{ SumInfoList|safe }}
        var QNaireResults={{ QNaireResults|safe }}
        var allUseProblems={{ allUseProblems|safe }}
        var AssessUseProblems={{ AssessUseProblems|safe }}
    </script>
	<link rel="stylesheet" type="text/css" href="/static/css/EvaResult.css">
	<script type="text/javascript" src="/static/js/vue.js"></script>
</head>
<script type="text/javascript" src="/static/js/echarts.min.js"></script>
<script type="text/javascript" src="/static/js/echarts-wordcloud.min.js"></script>
<body>
	<div id="title">
		<div id="logo">
			<!--<img id="titlePic" src="css\img\titleLog.png">-->
			<h4 id="titleText">人机交互评估平台</h4>
		</div>
		<div id="chooseUse">
			<div id="ManageEva">
				<a href="{% url 'chooseEva' %}">评估管理</a>
			</div>
			<div id="ManageModel">
			    <a href="{% url 'manageModel' %}">模板管理</a>
			</div>
			<div id="IndexAndMethod">
				<a href="{% url 'indexandmethod' %}">指标库与方法库</a>
			</div>
		</div>

        <div id="buttons">
			<!--<div id="message">消息</div>
			<div id="set">设置</div>-->
            <div id="mine" ><a href="{% url 'logout' %}">退出账户</a></div>
		</div>
		<!--<div id="out">	
			<a href="#" >Log Out</a>
		</div>-->
	</div>


	<div id="app" v-cloak>
		<div id="listApp">
			<div id="myList">
                <li  @click="GetAllUseProblems()" :class="activePlan==-1?'active':'unactive'">启发式评估总问题清单</li>
				<li v-for="item in plans" :class="item.id==activePlan?'active':'unactive'"  @click="clickPlan(item.id)">
					{% verbatim %}{{ item.PlanName }}{% endverbatim %}
				</li>
			</div>
		</div>
		<div id="InfoDiv">
			

			<div id="Information">

                <div class="Info">
                    <table>
                        <tr>
                            <th>指标名称</th>
                            <th>单位</th>
                            <th>平均值</th>
                            <th>标准差</th>
                            <th>最小值</th>
                            <th>最大值</th>
                        </tr>
                        <tr v-for="info in InfoList">
                            <td>{% verbatim %}{{ info.name }}{% endverbatim %}</td>
                            <td>{% verbatim %}{{ info.unit }}{% endverbatim %}</td>
                            <td>{% verbatim %}{{ info.meandata }}{% endverbatim %}</td>
                            <td>{% verbatim %}{{ info.stddata }}{% endverbatim %}</td>
                            <td>{% verbatim %}{{ info.mindata }}{% endverbatim %}</td>
                            <td>{% verbatim %}{{ info.maxdata }}{% endverbatim %}</td>
                        </tr>
                    </table>
                    <p style="font-weight: 700;">客观数据结果：</p>
                        <div v-for="info in InfoList">
                            {% verbatim %}{{ info.SysAdvice }}{% endverbatim %}
                            <br>
                            {% verbatim %}{{ info.StdAdvice }}{% endverbatim %}
                            <br>
                            <br>
                        </div>
                </div>
			<!--
				<div class="Info" v-for="info in InfoList">
					<span class="name">{% verbatim %}{{ info.name }}{% endverbatim %}</span>
					<span class="data">{% verbatim %}{{ info.data}}{% endverbatim %}</span>
					<span class="unit">{% verbatim %}{{ info.unit }}{% endverbatim %}</span>
					<p class="des">{% verbatim %}{{ info.text }}{% endverbatim %}</p>
				</div>
				-->
                <div id="Sum">
                    <p style="font-weight: 700;">综合指标分析：</p>
                    <p>仅由左侧方案列表包含客观数据得出，结果仅供参考。</p>
                    <div class="SumInfo" v-for="suminfo in SumInfoList">

                        <p>指标：{% verbatim %}{{ suminfo.name }}{% endverbatim %}</p>
                        <p>评估结果：{% verbatim %}{{ suminfo.Advice }}{% endverbatim %}</p>
                        <p>程度：{% verbatim %}{{ suminfo.degree }}{% endverbatim %}（绝对值<=1，绝对值越大，表示程度越深。）</p>
                        <br>
                        <br>
                    </div>
                </div>
			</div>

            <div id="AllHeuInfo">
                <div id="Alltable">
					<table>
						<tr>

							<th style="width:10%">严重程度</th>
							<th style="width:30%">可用性问题</th>
							<th style="width:30%">界面位置和功能</th>
							<th style="width:20%">改进建议</th>
						</tr>
						<tr v-for="up in AllUseProblemList">

							<td>{% verbatim %}{{up.serious}}{% endverbatim %}</td>
							<td>{% verbatim %}{{up.problem}}{% endverbatim %}</td>
							<td>{% verbatim %}{{up.local}}{% endverbatim %}</td>
							<td>{% verbatim %}{{up.advice}}{% endverbatim %}</td>
						</tr>
					</table>
				</div>

            </div>
			<div id="HeuInfo">
				启发式评估
				<div id="table">
					<table>
						<tr>
							<th style="width:10%">编号</th>
							<th style="width:10%">严重程度</th>
							<th style="width:30%">可用性问题</th>
							<th style="width:30%">界面位置和功能</th>
							<th style="width:20%">改进建议</th>
						</tr>
						<tr v-for="up in UseProblemList">
							<td>{% verbatim %}{{up.id}}{% endverbatim %}</td>
							<td>{% verbatim %}{{up.serious}}{% endverbatim %}</td>
							<td>{% verbatim %}{{up.problem}}{% endverbatim %}</td>
							<td>{% verbatim %}{{up.local}}{% endverbatim %}</td>
							<td>{% verbatim %}{{up.advice}}{% endverbatim %}</td>
						</tr>
					</table>
				</div>
			</div>

			<div id="QNaire">
				<div id="appQNaire" style="overflow-y: scroll; ">
					<div class="question" v-for="(que,index) in myresults" style="height: 800px; overflow-x: hidden;">
						<div class="QuestionTitle">
							<p>{% verbatim %}{{ que.Id }}{% endverbatim %}.{% verbatim %}{{ que.title }}{% endverbatim %}</p>
						</div>
						<div class="results" style="height: 50%;">
							<div class="tableResult" v-if="que.queType=='SingleChoose'||que.queType=='MultiChoose'">
								<table class="resultsTable" style="height: 50%">

									<tr>
										<th>选项</th>
										<th>小计</th>
										<th>比例</th>
									</tr>

									<tr v-if="que.chooseA!=''"> 
										<td>{% verbatim %}{{ que.chooseA }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.results[0] }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.resultRatio[0]}}{% endverbatim %}</td>
									</tr>
									<tr v-if="que.chooseB!=''">
										<td>{% verbatim %}{{ que.chooseB }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.results[1] }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.resultRatio[1]}}{% endverbatim %}</td>
									</tr>
									<tr v-if="que.chooseC!=''">
										<td>{% verbatim %}{{ que.chooseC }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.results[2] }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.resultRatio[2] }}{% endverbatim %}</td>
									</tr>
									<tr v-if="que.chooseD!=''">
										<td>{% verbatim %}{{ que.chooseD }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.results[3] }}{% endverbatim %}</td>
										<td>{% verbatim %}{{ que.resultRatio[3]}}{% endverbatim %}</td>
									</tr>
									<tr>
										<td>本题有效填写人次</td>
										<td>{% verbatim %}{{ que.filledPeople }}{% endverbatim %}</td>
										<td></td>
									</tr>

								</table>
							</div>
							<div class="tableResult" v-if="que.queType=='Scale'">
								<p>数字越小代表越{% verbatim %}{{ que.Begin }}{% endverbatim %},数字越大代表越{% verbatim %}{{ que.End }}{% endverbatim %}</p>
								<table class="resultsTable" style="height: 50%">

								</td></tr>
								<tr>
									<th>选项</th>
									<th>小计</th>
									<th>比例</th>
								</tr>
								<tr v-for="(itemResult,indexResult) in que.ScaleDegree">
									<td>{% verbatim %}{{ itemResult }}{% endverbatim %}</td>
									<td>{% verbatim %}{{ que.results[indexResult] }}{% endverbatim %}</td>
									<td>{% verbatim %}{{ que.resultRatio[indexResult]}}{% endverbatim %}</td>
								</tr>
								<tr>
									<td>本题有效填写人次</td>
									<td>{% verbatim %}{{ que.filledPeople }}{% endverbatim %}</td>
									<td  ></td>
								</tr>

							</table>
						</div>
						<div class="FIBresult" v-if="que.queType=='FillInBlank'" style="height: 50%">

							<table class="FIBtable">
								<thead>
									<tr>
										<th>回答</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="FIB in que.results"> 
										<td>{% verbatim %}{{ FIB }}{% endverbatim %}</td>
									</tr>
								</tbody>
							</table>

							<div class="wordcloud" :id="getWordCloud(index)" style="width: 100%;height: 80% ;">

							</div>
						</div>

						<div class="chooseButtons" v-if="que.queType=='SingleChoose'||que.queType=='MultiChoose'||que.queType=='Scale'" >
							<button class="Bar" @click="chooseBar(index)">条形图</button>
							<button class="Pie" @click="choosePie(index)">饼状图</button>
						</div>
						<br><br>
						<div class="pic" style="position: relative;height: 60%; " v-if="que.queType!='FillInBlank'">
							<div :id="getBar(index)" class="myBar" style="height:100%; left:10%;right:30%;visibility:visible;z-index: 2;position: absolute;top:0px" ></div>
							<div :id="getPie(index)" class="myPie" style="height:100%; left: 10%;
							right: 30%; visibility:hidden;z-index: 1;position: absolute;top:0px" ></div>
						</div>
					</div>
				</div>
			</div>
			<div id="modelQNaire">
				主观感知
			</div>
		</div>
	</div>
</div>


</body>
<script type="text/javascript" src="/static/js/EvaResult.js"></script>



</html>