<!DOCTYPE html>
<html>
<head>
	<title>
		人机工效评估系统
	</title>
	<!--<link rel="stylesheet" type="text/css" href="css/login.css">-->
<!--	<script src="/static/js/jquery.min.js" type="text/javascript"></script>-->
</head>
<body>
	<div id="title">
		<div id="logo">

			<h4 id="titleText">人机交互评估平台</h4>
		</div>
		<!--<div id="out">	
			<a href="#" >Log Out</a>
		</div>-->
	</div>
	
	<div id="logimg">
	</div>
	<div class="intro">
		<h1> 欢迎使用人机工效评估系统</h1>
		
	</div>
	<div class="buttons">
		
		<input type="submit" name="login" id="login" value="Login" onclick="openLogin()" >
		
		<input type="submit" name="register" id="register" value="Register" onclick="openRegister()"  >
		
	</div>
    <form method="post" action="/login/" class="form1">
	<div class="loginBox" id="loginBox">


		<h3>Login</h3>
		<input type="text" name="username" id="LogUserName" placeholder="Username">
		<input type="password" name="password" id="LogPassword" placeholder="Password">
		<input type="submit" name="loginSub" value="登录" onclick="loginSubmit()" >

		
		<a href="#" id="close" onclick="closeLogin()" >X</a>

	</div>
   </form>
   <form method="post" action="/register/" class="form1">
	<div class="RegisterBox" id="RegisterBox">
		<h3>Register</h3>
		<input type="text" name="Regusername" id="RegUsername" placeholder="Username">
		<input type="password" name="Regpassword" id="RegPassword" placeholder="Password">
		<div class="choose">
			<input id="vip" type="radio" checked="checked" name="user_type"  value="VIP" />评估人员
			<input id="ord" type="radio"  name="user_type" value="Ord" />情报系统使用人员
		</div>
		<input type="submit" name="RegSub" value="注册" onclick="registerSubmit()">
		
		<a href="#" id="closeReg" onclick="closeRegister()" >X</a>

	</div>
   </form>

</body>
<!--<script type="text/javascript" src="/static/js/first.js"></script>-->

<script type="text/javascript" src="/static/js/login.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/login.css">

 {% if messages %}
        <script>

            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
        </script>
    {% endif %}

</html>