<!DOCTYPE html>
<html>
<head>
    <title>
        新建评估
    </title>
    <!--<link rel="stylesheet" type="text/css" href="css/newEva.css">-->
    <script>
        var AllModel={{ ModelList|safe  }}
        var User= {{ User|safe }}
    </script>
    <link rel="stylesheet" type="text/css" href="/static/css/newEva.css">
</head>
<body>
<div id="title">
    <div id="logo">
        <!--<img id="titlePic" src="css\img\titleLog.png">-->
        <h4 id="titleText">人机交互评估平台</h4>
    </div>
    <div id="chooseUse">
        <div id="ManageEva">
            <a href="{% url 'chooseEva' %}">评估管理</a>
        </div>
        <div id="ManageModel">
            <a href="{% url 'manageModel' %}">模板管理</a>
        </div>
        <div id="IndexAndMethod">
            <a href="{% url 'indexandmethod' %}">指标库与方法库</a>
        </div>
    </div>

    <div id="buttons">
        <div id="message">欢迎您，{{ User.username }}</div>
        <!--<div id="set">设置</div>-->
        <div id="mine" ><a href="{% url 'logout' %}">退出账户</a></div>
    </div>
    <!--<div id="out">
        <a href="#" >Log Out</a>
    </div>-->
</div>

<div id="app" v-cloak>
    <div id="navi">
        <div id="chooseCondition">
            <input type="buttons" name="All" value="全部" readonly="readonly" @click="changeAll()">
            <input type="buttons" name="List" value="表单模板" readonly="readonly" @click="changeList()">
            <input type="buttons" name="History" value="历史模板" readonly="readonly" @click="changeHistory()">
            <input type="buttons" name="Colligation" value="综合模板" readonly="readonly" @click="changeColl()">
        </div>


        <div id="back">
            <input type="buttons" name="back" value="返回" readonly="readonly" onclick="window.location.href={% url 'chooseEva' %}">
        </div>

    </div>

    <div id="AllEvaluation">
        <h2>空白模板</h2>
        <br>
        <div id="blankNew" @click="newFromWhite()" >
            <br><br><br><br>
            <h3>从空白新建</h3>
            <br>
            <h5>自定义评估要素</h5>
            <!--<h5> {{ listModels }}</h5>-->
        </div>


        <div id="AllModelEvaluation" class="AllModelEvaluation">
            <h2 class="ChoosedTitle">全部模板</h2>
            <div class="thisModels">
                <div class="AllModelEva" v-for="model in Models" @click="newFromModel(model)">
                    <div class="AllModelevaPic">
                        <p>Task</p>
                    </div>
                    <div class="AllModelEvaText">
                        <p class="AllModelEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
                        <p class="AllModelEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
                    </div>


                </div>
            </div>
        </div>



        <div id="ListEvaluation" class="ListEvaluation" style="visibility: hidden;">
            <h2 class="ChoosedTitle">表单模板</h2>
            <div class="thisModels">
                <div class="ListEva" v-for="model in Models" @click="newFromModel(model)"  v-if="model.type=='list'">
                    <div class="ListevaPic">
                        <p>Task</p>
                    </div>
                    <div class="ListEvaText">
                        <p class="ListEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
                        <p class="ListEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
                    </div>


                </div>
            </div>
        </div>



        <div id="HistoryEvaluation" class="HistoryEvaluation" style="visibility: hidden;">
            <h2 class="ChoosedTitle">历史模板</h2>
            <div class="thisModels">
                <div class="HistoryEva" v-for="model in Models" @click="newFromModel(model)"  v-if="model.isHistory=='yes'">
                    <div class="HistoryevaPic">
                        <p>Task</p>
                    </div>
                    <div class="HistoryEvaText">
                        <p class="HistoryEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
                        <p class="HistoryEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
                    </div>


                </div>
            </div>
        </div>

        <div id="CollEvaluation" class="CollEvaluation" style="visibility: hidden;">
            <h2 class="ChoosedTitle">综合模板</h2>
            <div class="thisModels">
                <div class="CollEva" v-for="model in Models" @click="newFromModel(model)"  v-if="model.type=='coll'">
                    <div class="CollevaPic">
                        <p>Task</p>
                    </div>
                    <div class="CollEvaText">
                        <p class="CollEvaName">{% verbatim %}{{ model.name }}{% endverbatim %}</p>
                        <p class="CollEvaOne">{% verbatim %}{{ model.InShort }}{% endverbatim %}</p>
                    </div>


                </div>
            </div>
        </div>

        <br>
        <!--
			<br>
			<h2 id="HistoryTitle">历史模板</h2>
			<div id="HistoryEvaluation" class="HistoryEvaluation">
				
				<div class="HistoryEva" v-for="model in hisModels">
					<div class="HistoryevaPic">
						<p>Task</p>
					</div>
					<div class="HistoryEvaText">
						<p class="HistoryEvaName">{{ model.name }}</p>
						<p class="HistoryEvaOne">{{ model.InShort }}</p>
					</div>


				</div>
			</div>
		-->

        <!--
			<br>
			<h2 id="CollTitle">综合模板</h2>
			<br>
			<div id="CollEvaluation" class="CollEvaluation">
				<div class ="CollEva" v-for="model in comModels">
					<div class ="CollevaPic">
						<p>Task</p>
					</div>
				</div>
				<div class ="CollEvaText">
					<p class="CollEvaName">{{ model.name }}</p>
					<p class="CollEvaOne">{{ model.InShort }}</p>
				</div>


			</div>
		-->

    </div>









    <div id="shadow" style="visibility: hidden;">

    </div>


    <form method="post" action="/newBlankEva/" id="BlankEva" name="BlankEva">
        <div id="newEvaBox" style="visibility: hidden;">
            <br>
            <h4>新建评估</h4>
            <br>
            <div id="chooseEvaType">
                <label><input type="radio" name="eva" value="survey">单一问卷</label>
                <label><input type="radio" name="eva" value="comprehensive">综合评估</label>
            </div>
            <br>
            <p>评估名称   <input id="EvaNameInput" type="text" name="name"></p>
            <br>
            <p>评估描述   <input id="EvaDetailInput" type="text" name="detail"></p>
            <p>评估需要人数 <input id="EvaPersonNum" type="text" name="peopleNum"></p>
            <br>
            <div id="evaButtons">
                <button id="cancel" @click="closeNewBox()" type="button">取消</button>
                <button id="yes" @click="submitForm()" type="button">确定</button>
            </div>
        </div>
    </form>

    <form method="post" action="/newEvaFromModel/" id="ModelEva" name="ModelEva">


        <div id="newModelBox" style="visibility: hidden;">
            <br>
            <h4>新建评估</h4>
            <br>
            <br>
            模板类型：{% verbatim %}{{ chooseModel.type }}{% endverbatim %}
            <br>
            <br>
            <p>评估名称   <input   id="ModelEvaNameInput" type="text" name="name" v-model="newEva.name"></p>
            <br>
            <p>评估描述   <input  id="ModelEvaDetail" type="text" name="detail" v-model="newEva.des"></p>
            <p>评估需要人数 <input  id="ModelEvaPerson" type="text" name="person" v-model="newEva.person"></p>
            <p hidden>模板评估id <input  id="ModelAssessId" type="text" name="assessid" v-model="chooseModel.AssessId"></p>
            <br>
            <div id="modelButtons">
                <button id="cancel" @click="closeNewBox()" type="button">取消</button>
                <button id="yes"  @click="submitFromModel()" type="button">确定</button>
            </div>
        </div>
    </form>

</div>


</body>
<script type="text/javascript" src="/static/js/vue.js"></script>
<script type="text/javascript" src="/static/js/axios.min.js"></script>
<script type="text/javascript" src="/static/js/newEva.js"></script>


</html>